body {
    background-color: rgb(250,241,234);
}

header {
    background-color: rgb(192,240,223);
}

img#logo {
    width: 320px;
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    background-color: rgb(128,128,128);
    padding: 10px;
    padding-left: 20px;
    border-top: 1px solid white;
}

li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    padding: 10px;

}

h3 {
    color: #dc6a5e;
    font-size: 22px;
    font-weight: 600;
}